BarcodeSystem/*.nupkg
BarcodeSystem/*.dll
BarcodeSystem/*.pdb
BarcodeSystem/*.xdt
BarcodeSystem/bin
BarcodeSystem/obj
packages 
.vs/* 
/.vs
/BarcodeSystem/Images/HomeMedia
/BarcodeSystem/Images/ProductMedia
/BarcodeSystem/BarcodeSystem/bin/roslyn/*.dll
