
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<style>

    h4 {
        font-weight: bold;
    }

    p, li {
        text-align: justify;
        font-size: 16px;
        font-family: verdana;
    }
</style>

<div class="container">
    <div class="row">

        <div class="col-sm-12">
            @*<h1 style="text-align:center; text-decoration:underline;">Eon Corporation - Terms & Condition</h1>*@
            <img style="height: auto; width: 100%; margin-top: 15px;" src="~/Content/assets/images/eon/aboutus.png" />
            <br />
            <br />
        </div>

        <div class="col-sm-12">
            <p>Eon Corporation is a conglomerate company that has  global expertise with deep local knowledge that emphasizes on customer satisfaction in building constructive materials.Our world-class range of products are more than just a tile-fixing applications that create perfect blend of chemical adhesives. They allow home owners, architects and builders to dream, and sit back without worry, knowing that their idea now has the perfect way to be executed.Our high-quality products are used in residential properties, commercial establishments, and industrial and infrastructural utilities.Eon Corporation designs, manufactures and distributes materials and solutions which are key ingredients for the future constructive sites.</p>
            <br />
        </div>

    </div>
</div>